* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(216, 214, 214);
    z-index: 99;
    background-color: #fff;
}

#navleft {
    position: relative;
    margin-left: 40px;
}

#navmid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-left: 350px;
    padding: 6px 25px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px rgb(228, 228, 228);
}

#navmid:hover {
    box-shadow: 0 8px 6px -6px rgb(204, 203, 203);
}

#navmid h3 {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
}

#navmid h3:nth-child(2) {
    padding: 0 15px;
    border-left: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);
}

.navmid-right {
    display: flex;
    align-items: center;
}

.navmid-right span {
    position: relative;
    left: 15px;
    background-color: #ff385c;
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.navmid-right h3 {
    opacity: 0.6 !important;
    font-weight: 500 !important;
}

#navright {
    margin-left: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

#navright h2 {
    padding: 12px;
    font-size: 15px;
    opacity: 0.6;
}

#navright h3 {
    padding: 10px;
    font-size: 18px;
}

.navright-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 30px;
    padding: 5px 8px;
}

.navright-profile span .profilelogo {
    color: grey;
    font-size: 30px;
}

.navright-profile:hover {
    box-shadow: 0 8px 6px -6px rgb(204, 203, 203);
}

#navright h2:hover {
    background-color: rgb(233, 232, 232);
    border: none;
    border-radius: 20px;
}

#navright h3:hover {
    background-color: rgb(233, 232, 232);
    border: none;
    border-radius: 20px;
}

#head {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 80px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    z-index: 9;
    background-color: #fff;
    border-bottom: 0.5px solid rgb(216, 214, 214);
}

.headleft {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loc-card {
    padding: 10px 22px;
    text-align: center;
    font-size: 13px;
    opacity: 0.5;
}

.loc-card:first-child {
    opacity: 0.9;
    border-bottom: 2px solid black;
}

.loc-card h5 {
    padding: 5px;
}

.loc-card:hover {
    opacity: 0.9;
    transition-delay: 0.6s ease-in-out;
    box-shadow: 0 8px 6px -6px rgb(204, 203, 203);
}

.headmid {
    padding: 4px;
    font-size: 20px;
    border: 0.3px solid rgb(204, 203, 203);
    background-color: #fff;
    border-radius: 30px;
}

.headright {
    margin-left: 15px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 12px;
}

.headright span {
    display: flex;
    align-items: center;
    padding: 10px 17px;
}

.headright h4 {
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

#main {
    /* background-color: green; */
    position: relative;
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#filter {
    height: 45px;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 12px;
}

.filterleft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: sans-serif;
}

.filterleft h5 {
    padding: 0 10px 0 0;
    border-right: 0.3px solid rgb(204, 203, 203);
    font-size: 15px;
    font-weight: 600;
}

.filterleft p {
    padding: 0 10px;
    opacity: .6;
    font-size: 15px;
    font-weight: 500;
}

.filterright {
    display: flex;
    align-items: center;
    height: 30px;
    width: 45px;
    background-color: rgb(204, 204, 204);
    border-radius: 30px;
}

.filterright p {
    margin: 0 0 0 2px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 30px;
}

.filterright:hover {
    background-color: rgb(131, 131, 131)
}

#properties {
    margin: 25px 0 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.property-card {
    padding: 0 0 15px 0;
}

.prop-img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.prop-img img {
    background-size: contain;
    background-position: center;
}

.prop-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.loadmore {
    margin: 30px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.loadmore h4 {
    font-size: 17px;
    font-weight: 600;
    padding: 15px 0;
}

.loadmore span {
    height: 45px;
    width: 135px;
    font-weight: 600;
    background-color: rgb(34, 34, 34);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

.loadmore span:hover {
    background-color: #111;
}

#section {
    height: 100vh;
    width: 100%;
    margin-top: 200px;
    background-color: rgb(245, 245, 245);
}


#section-one {
    padding: 25px 0 25px 45px;
    border-bottom: 1px solid rgb(204, 203, 203);
}

#section-one h3 {
    padding: 20px 0;
}

#section-one>a {
    text-decoration: none;
    opacity: .8;
    font-weight: 600;
    color: rgb(62, 62, 62);
    padding: 5px 25px 0 0;
}